<% provide('title', 'Kotonohaとは？') %>
<section>
  <div class="container">
    <h1>About kotonoha</h1>
    <br />
    sentences..<br />
    sentences..<br />
    sentences..<br />
    sentences..<br />
    sentences..<br />
    sentences..<br />
  </div>
</section>
  
