<% provide('title', 'help') %>
<section>
  <div class="container">
    <h1>HOW TO USE</h1>
    <br />
    sentences..<br />
    sentences..<br />
    sentences..<br />
    sentences..<br />
    sentences..<br />
    sentences..<br />
  </div>
</section>
  
