<ul class="posts">
  <li>
    <a href="">
      <div class="post_title">貴方と世の中との戦いなら、世の中のほうに賭けなさい。</div>
      <span class="post_date"> date 2018.3.4 AM10:00</span>
    </a>
  </li>
  <li>
    <a href="">
      <div class="post_title">phrase 2</div>
      <span class="post_date"> date 2018.3.4 AM10:00</span>
    </a>
  </li>
  <li>
    <a href="">
      <div class="post_title">phrase 3</div>
      <span class="post_date"> date 2018.3.4 AM10:00</span>
    </a>
  </li>
  <li>
    <a href="">
      <div class="post_title">phrase 4</div>
      <span class="post_date"> date 2018.3.4 AM10:00</span>
    </a>
  </li>
</ul>
