<ul class="comments">
  <% comments.each do |comment| %>
    <li>
      <div class="comment-content"><%= comment.content %></div>
      <div class="comment-user"><%= comment.name %></div>
      <div class="comment-date"><%= comment.created_at %></div>
    </li>
  <% end %>
</ul>
