- provide('title', 'プロフィール編集')
.main-wrapper
  h2
    | プロフィール編集
  - if @user.errors.any?
    .alert.alert-danger
      ul
        - @user.errors.full_messages.each do |message|
          li
            = message
  = form_for @user do |f|
    .form-group
      = f.label :name, '名前'
      = f.text_field :name, class:'form-control'
      br
      = f.label :email, 'メールアドレス'
      = f.text_field :email, class:'form-control'
      br
      = f.label :description, '自己紹介'
      = f.text_area :description, row: 3, class: 'form-control'
      br
      br
      = f.label :image, 'プロフィール画像'
      br
      = image_tag @user.image.url, id: :img_prev
      br
      br
      = f.file_field :image, accept: "image/png, image/jpeg, image/gif", id: :user_image
      br
      br
      = f.submit '変更を保存', class: 'btn btn-primary'
  script[type="text/javascript"]
    |  $(function() { function readURL(input) { if (input.files && input.files[0]) { var reader = new FileReader(); reader.onload = function (e) { $('#img_prev').attr('src', e.target.result); } reader.readAsDataURL(input.files[0]); } } $("#user_image").change(function(){ readURL(this); }); }); 
