<ul class="posts">
  <% phrases.each do |phrase| %>
    <li>
      <%= link_to phrase do %>
        <div class="post_title"><%= phrase.title %></div>
      <div class="post_date">
        <%= render partial: 'shared/buttons', locals: { phrase: phrase } %>
        <%= phrase.updated_at.strftime("%Y年%m月%d日 %H:%M") %>
      </div>
      <% end %>
    </li>
  <% end %>
</ul>
