/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* Initialize */
body {
  font-family: sans-serif, Arial;
  background-color: #fff;
  font-size: 16px;
}

ul, li, a, div, span, h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h2, h3 {
  font-size: 1em;
  font-weight: bold;
}


/* header */

header {
  background: #111111;
}

img.logo {
  width: 150px;
  height: auto;
}

nav {
  display: flex;
  color: #fff;
  width: 70%;
  height: 40px;
  margin: 0 auto;
}

nav h1 {
  margin-right: auto;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 40px;
}

nav h1 a, nav h1 a:hover {
  color: #fff;
  text-decoration: none;
}

nav ul {
  align-items: center;
  display: flex;
}

nav ul li {
  text-align: center;
}

nav ul  li  a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

nav ul li a:hover {
  border-bottom: 1px solid #fff;
  height: 39px;
  color: #fff;
  text-decoration: none;

}

li.account-menu {
  position: relative;
}

li.account-menu > a {
  display: block;
}

li.account-menu > a:hover {
  border: 0;  
}

li.account-menu > ul {
  position: absolute;
  top: 39px;
  visibility: hidden;  
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

li.account-menu:hover > ul {
  visibility: visible;
  background: #111111;
  transition: 0.2s;

  li:hover {
    background: #333333;
  }
  li a:hover {
    border: 0;  
  }
}



div.top_box {
  height: 300px;
  width: 100%;
  background-image: image_url('top-2.png');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 576px) {
  div.top_box  {
    height: 200px;
    width: 100%;
    background-image: image_url('top-2.png');
    background-size: cover;
    background-position: center;
  }
}



/* main */

main {
  background: #fff;
  width: 70%;
  margin: 20px auto;
}


ul.posts {
  background-color: #fff;
  border-color: #777777;

  li {
    text-align: center;
    display: block;
    border-bottom: 1px solid #DCDCDC;
  }


  li > a {
    display: inline-block;
    width: 100%;
    color: #424242;

  }

  li > a:hover {
    text-decoration: none;
    color: #000000;
    font-size: 1.01em;
    transition: 1s;
  }

  li img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 10px 10px 0 0;
    float: left;
  }


}

.fa-heart {
  font-size: 22px;
}
.fa-comment {
  font-size: 22px;
}

.post_title {
  font-size: 2.0em;
  font-weight: bold;
}

.post_date {
  text-align: right;
  color: #A4A4A4;
  font-size: 12px;
}

.post_buttons {
  margin-top: 5px;
  a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 3px;
  }
  a.fav-button {
    color: #FA5882;
  }
  a.fav-button-off {
    color: #BDBDBD;  
  }
  a.fav-button-on-animation {
    animation-name: fav-on;
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }

  a.fav-button-off-animation {
    animation-name: fav-off;
    animation-duration: 0.2s;
    animation-fill-mode: both;
  }
  a.comment-button {
    color: #BDBDBD;
  }
}

@keyframes fav-on {
  0% { color: #BDBDBD; }
  100% {
    color: #FA5882;
    font-size: 19px;
  }
}

@keyframes fav-off {
  0% { color: #FA5882; }
  100% {color: #BDBDBD; }
}

div.profile {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
div.profile ul li {
  word-wrap: break-word;
  margin-bottom: 5px;
}

div.profile h2 {
  font-size: 2em;  
}

ul.users {
  padding: 0;
  margin: 0;
  li {
    display: flex;
    padding: 10px;
    img {
      width: 100px;
      height: 100px;
      margin-right: 15px;
      border-radius: 10px;
    }

  }
}

.input_form {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#img_prev {
  max-width: 256px;
  max-height: 256px; 
}
/* footer */
footer {
  padding: 10px;
  background: #111111;
  color: #fff;
  text-align: center;
  ul {
    margin-bottom: 20px;

    li {
      display: inline-block;
      width: 150px;
    }

    li > a {
      text-decoration: none;
      color: #fff;
    }

    li > a:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 576px) {
 footer > ul > li {
   display: block;
   width: 200px;
   text-align: left;

   a {
     font-size: 14px;
   }
 }
}
