/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* Initialize */
body {
  font-family: sans-serif, Arial;
  background-color: #DCDCDC;
  font-size: 16px;
}

ul, li, a, div, span, h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h2, h3 {
  font-size: 1em;
  font-weight: bold;
}

.btn {
  margin: 2px;
}

.btn-primary {
  background: #fff;
  border: solid 1px #008000;
  border-radius: 5px;
  color: #008000;
}
.btn-primary:hover {
  background: #008000;
  border: 1px solid #008000;
}

.btn-danger {
  border: solid 1px #dd0000;
  border-radius: 5px;
  background: #fff;
  color: #dd0000;
}

.btn-danger:hover {
  border: solid 1px #dd0000;
  background: #dd0000;
}


/* header */

header {
  background: #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: solid 1px #006400;
}

img.logo {
  width: 150px;
  height: auto;
}

form.search-form {
  input {
    line-height: 0.8em;  
    font-size: 0.7em;
    height: 25px;
    border: solid 1px #858585;
    border-radius: 6px;
  }

  button {
    background: transparent; 
    border: 0;
    i {
      color: #4f4f4f;
    }
  } 
}

nav {
  display: flex;
  width: 80%;
  height: 40px;
  margin: 0 auto;
}

nav h1 {
  margin-right: auto;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 40px;
}

nav h1 a, nav h1 a:hover {
  text-decoration: none;
  color: #252525;
}

nav ul {
  align-items: center;
  display: flex;
}

nav ul li {
  text-align: center;
}

nav ul  li  a {
  text-decoration: none;
  color: #4f4f4f;
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}

nav ul li a:hover {
  border-bottom: 1px solid #858585;
  height: 39px;
  color: #858585;
  text-decoration: none;

}

@media screen and (max-width: 768px) {
  li.search-menu {
    display: none;
  }
}

li.account-menu {
  position: relative;
}

li.account-menu > a {
  display: block;
}

li.account-menu > a:hover {
  border: 0; 
}

li.account-menu > ul {
  position: absolute;
  z-index: 1;
  top: 39px;
  visibility: hidden;  
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

li.account-menu:hover > ul {
  visibility: visible;
  background: #fff;
  transition: 0.2s;

  li:hover {
    background: #e2e2e2;
  }
  li a:hover {
    border: 0;  
  }
}



div.header-image {
  height: 400px;
  width: 100%;
  background-image: image_url('top-image.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
}
.header-image-inner {
  position: relative;
  width: 80%;
  margin: 0 auto;
  p {
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 2.7em;
    font-weight: bold;
  }

  div {
    position: absolute;
    bottom: 60px;
    left: 0;
    font-weight: bold;

    a {
      display: inline-block;
      padding: 20px 30px;
      text-decoration: none;
      font-size: 22px;
      border-radius: 15px;
    }
    a.first-button {
      background: #006400;
      color: #fff;
      margin-right: 5px;
      transition: 0.4s;
    }

    a.first-button:hover {
      background: #009900;
      transition: 0.4s;
    }
    
    a.second-button {
      background: #ff8c00;
      color: #fff;
      transition: 0.4s;
    }

    a.second-button:hover {
      background: #ffac00;
      transition: 0.4s;
    }
  }
}

div.header-image.shorter {
  height: 200px;
  .header-image-inner > p {
    font-size: 2em;
    top: 70px;
    color: #000;
    opacity: 0.8;
  }
}

@media screen and (max-width: 576px) {
  div.header-image  {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;

    p {
      font-size: 2em;
    }

    div > a {
      font-size: 18px;
      padding: 10px 20px;
    }
  }
}



/* main */

main {
  width: 80%;
  min-height: 350px;
  margin: 20px auto;
}

.static-page {
  background: #fff;
  padding: 20px;
  min-height: 350px;
}

.posts {
  margin-bottom: 10px;
  .col-md-4 {
    padding: 5px;
    background: transparent;
    .phrase-mask {
      width: 100%;
      height: 100%;
      background: #fff;
      padding: 8px;
      border-radius: 15px;
      position: relative;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    }
  }

  .col-md-4 > .phrase-mask > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    color: #424242;
  }

  .col-md-4 > .phrase-mask > a:hover {
    text-decoration: none;
    color: #ACACAC;
    font-size: 1.01em;
    transition: 0.4s;
  }
}

.fa-heart {
  font-size: 22px;
  margin-right: 2px;
}
.fa-comment {
  font-size: 22px;
  margin-right: 2px;
}

.post_title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  margin-bottom: 50px;
}

.post_buttons {
  font-size: 18px;
  margin-top: 5px;
  color: #BDBDBD;
  a {
    text-decoration: none;
    margin-right: 5px;
  }
  a.fav-button {
    color: #FA5882;
  }
  a.fav-button-off {
    color: #BDBDBD;  
  }

  a.fav-button-off:hover {
    color: #888888;  
    transition: 0.3s;
  }
  
  a.fav-button-on-animation {
    animation-name: fav-on;
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }

  a.fav-button-off-animation {
    animation-name: fav-off;
    animation-duration: 0.2s;
    animation-fill-mode: both;
  }
}

@keyframes fav-on {
  0% { color: #BDBDBD; }
  100% {
    color: #FA5882;
    font-size: 19px;
  }
}

@keyframes fav-off {
  0% { color: #FA5882; }
  100% {color: #BDBDBD; }
}

div.profile {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  margin: 0 5px 10px;
  display: flex;
}
div.profile ul {
  margin-left: 20px;
  padding-top: 5px;
  li {
    word-wrap: break-word;
    margin-bottom: 5px;
  }
}

.profile-nav {
  font-weight: bold;
}

ul.users {
  padding: 20px;
  margin: 0;
  background: #fff;
  li {
    display: flex;
    padding: 10px;
    img {
      width: 100px;
      height: 100px;
      margin-right: 15px;
      border-radius: 10px;
    }

  }
}

.input_form {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0, 0.1);

  ul {
    display: flex;
    margin-bottom: 10px;
    li {
      width: 50%;
      text-align: center;
    }

    li.active{
      border-bottom: solid 2px #008000;
    }

    li > a {
      display: block;
      width: 100%;
      height: 100%;
      color: #858585;
    }

    li > a:hover {  
      color: #000;
      text-decoration: none;
    }
  }
}

#img_prev {
  max-width: 256px;
  max-height: 256px; 
}

/* phrases/show */
.main-wrapper {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;

}

.phrase-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}
.phrase-main {
  min-height: 300px;
  background: #F2F2F2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;

  .post_buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.phrase-main h2 {
  font-size: 2em; 
  line-height: 1.5em;
  padding: 0 20px;
}

.phrase-description {
  text-align: center;
  padding: 10px 20px;
}

.phrase-url {
  text-align :right;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 20px;
}

.phrase-user {
  text-align: right;
  padding: 0px 20px;
  color: #adadad;  
  a {
    color: #adadad;  
  }
}

.post_tags {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8em;
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding-left: 10px;
}

a.tag-link {
  background: #DCDCDC;
  color: #888888;
  padding: 4px 8px;
  margin-right: 5px;
  border-radius: 5px;
}

a.tag-link:hover {
  color: #444444;
}

.search-word {
  font-size: 18px;
  font-weight: bold;
}

ul.pagination {
  margin: 0 auto;
  padding-top: 10px;
  li > a {
    padding-top: 10px;
    color: #777777;
  }
  li.page-item.active > a {
    background: #4d4d4d;
    border-color: #4d4d4d;
  }
}

/* comments */

ul.comments {
  padding-bottom: 20px;
  margin-bottom: 20px;
  li {
    margin-top: 10px;  
    padding-top: 10px;
    border-top: solid 1px #ADADAD;
  }
}

.comment-content {
  margin-top: 10px;  
  font-size: 1.3em;
}

.comment-user {
  display: inline-block;
  font-size: 0.8em;  
}

.comment-date {
  display: inline-block;
  color: #ADADAD;
  font-size: 0.8em;
}

/* footer */
footer {
  padding: 10px;
  background: #222222;
  color: #CDCDCD;
  text-align: center;
  font-size: 14px;
  ul {
    margin-bottom: 20px;

    li {
      display: inline-block;
      width: 150px;
    }

    li > a {
      text-decoration: none;
      color: #CDCDCD;
    }

    li > a:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 576px) {
 footer > ul > li {
   display: block;
   width: 200px;
   text-align: left;
 }
}
