/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* Initialize */
body {
  font-family: sans-serif, Arial;
  background-color: #DCDCDC;
  font-size: 16px;
}

ul, li, a, div, span, h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h2, h3 {
  font-size: 1em;
  font-weight: bold;
}

.btn {
  margin: 2px;
}


/* header */

header {
  background: #111111;
}

img.logo {
  width: 150px;
  height: auto;
}

form.search-form {
  input {
    line-height: 0.8em;  
    font-size: 0.7em;
    height: 25px;
    border-radius: 6px;
  }

  button {
    background: transparent; 
    border: 0;
    i {
      color: #fff;
    }
  } 
}

nav {
  display: flex;
  color: #fff;
  width: 70%;
  height: 40px;
  margin: 0 auto;
}

nav h1 {
  margin-right: auto;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 40px;
}

nav h1 a, nav h1 a:hover {
  color: #fff;
  text-decoration: none;
}

nav ul {
  align-items: center;
  display: flex;
}

nav ul li {
  text-align: center;
}

nav ul  li  a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}

nav ul li a:hover {
  border-bottom: 1px solid #fff;
  height: 39px;
  color: #fff;
  text-decoration: none;

}

@media screen and (max-width: 768px) {
  li.search-menu {
    display: none;
  }
}

li.account-menu {
  position: relative;
}

li.account-menu > a {
  display: block;
}

li.account-menu > a:hover {
  border: 0;  
}

li.account-menu > ul {
  position: absolute;
  top: 39px;
  visibility: hidden;  
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

li.account-menu:hover > ul {
  visibility: visible;
  background: #111111;
  transition: 0.2s;

  li:hover {
    background: #333333;
  }
  li a:hover {
    border: 0;  
  }
}



div.top_box {
  height: 200px;
  width: 100%;
  background-image: image_url('top-2.png');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 576px) {
  div.top_box  {
    height: 200px;
    width: 100%;
    background-image: image_url('top-2.png');
    background-size: cover;
    background-position: center;
  }
}



/* main */

main {
  width: 90%;
  min-height: 350px;
  margin: 20px auto;
}

.static-page {
  background: #fff;
  padding: 20px;
  min-height: 350px;
}

.posts {
  .col-md-4 {
    box-sizing: border-box;
    border: 3px solid #DCDCDC;
    border-radius: 5px;
    background: #fff;
  }

  .col-md-4 > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    color: #424242;
  }

  .col-md-4 > a:hover {
    text-decoration: none;
    color: #ACACAC;
    font-size: 1.01em;
    transition: 0.4s;
  }
}

.fa-heart {
  font-size: 22px;
  margin-right: 2px;
}
.fa-comment {
  font-size: 22px;
  margin-right: 2px;
}

.post_title {
  font-size: 1.2em;
  font-weight: bold;
}

.post_date {
  text-align: right;
  color: #A4A4A4;
  font-size: 12px;
}

.post_buttons {
  font-size: 18px;
  margin-top: 5px;
  color: #BDBDBD;
  a {
    text-decoration: none;
    margin-right: 5px;
  }
  a.fav-button {
    color: #FA5882;
  }
  a.fav-button-off {
    color: #BDBDBD;  
  }

  a.fav-button-off:hover {
    color: #888888;  
    transition: 0.3s;
  }
  
  a.fav-button-on-animation {
    animation-name: fav-on;
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }

  a.fav-button-off-animation {
    animation-name: fav-off;
    animation-duration: 0.2s;
    animation-fill-mode: both;
  }
}

@keyframes fav-on {
  0% { color: #BDBDBD; }
  100% {
    color: #FA5882;
    font-size: 19px;
  }
}

@keyframes fav-off {
  0% { color: #FA5882; }
  100% {color: #BDBDBD; }
}

div.profile {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  margin-top: 25px;
  margin-bottom: 10px;
}
div.profile ul {
  padding-top: 5px;
  li {
    word-wrap: break-word;
    margin-bottom: 5px;
  }
}

.profile-nav {
  font-weight: bold;
}

ul.users {
  padding: 20px;
  margin: 0;
  background: #fff;
  li {
    display: flex;
    padding: 10px;
    img {
      width: 100px;
      height: 100px;
      margin-right: 15px;
      border-radius: 10px;
    }

  }
}

.input_form {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
}

#img_prev {
  max-width: 256px;
  max-height: 256px; 
}

/* phrases/show */
.main-wrapper {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;

}

.phrase-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.phrase-main {
  min-height: 300px;
  background: #F2F2F2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .post_buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.phrase-main h2 {
  font-size: 2em; 
  padding: 0 20px;
}

.phrase-description {
  text-align: center;
  padding: 10px 20px;
}

.phrase-url {
  text-align :right;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 20px;
}

.phrase-user {
  text-align: right;
  padding: 0px 20px;
  color: #adadad;  
  a {
    color: #adadad;  
  }
}

.post_tags {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8em;
}

a.tag-link {
  background: #DCDCDC;
  color: #888888;
  padding: 4px 8px;
  margin: 5px;
  border-radius: 5px;
}

a.tag-link:hover {
  color: #444444;
}

.tag-name {
  font-size: 18px;
  font-weight: bold;
}

/* comments */

ul.comments {
  padding-bottom: 20px;
  margin-bottom: 20px;
  li {
    margin-top: 10px;  
    padding-top: 10px;
    border-top: solid 1px #ADADAD;
  }
}

.comment-content {
  margin-top: 10px;  
  font-size: 1.3em;
}

.comment-user {
  display: inline-block;
  font-size: 0.8em;  
}

.comment-date {
  display: inline-block;
  color: #ADADAD;
  font-size: 0.8em;
}

/* footer */
footer {
  padding: 10px;
  background: #222222;
  color: #CDCDCD;
  text-align: center;
  font-size: 14px;
  ul {
    margin-bottom: 20px;

    li {
      display: inline-block;
      width: 150px;
    }

    li > a {
      text-decoration: none;
      color: #CDCDCD;
    }

    li > a:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 576px) {
 footer > ul > li {
   display: block;
   width: 200px;
   text-align: left;
 }
}
