<footer>
  <ul>
    <li><a href="/">トップページ</a></li>
    <li><a href="/about">kotonohaとは？</a></li>
    <li><a href="/help">使い方</a></li>
    <li><a href="/contact">運営者情報</a></li>
  </ul>
  Copyright YYYY kotonoha.com
</footer>
